{% load static %}


<div class="character-div row">

    <!-- Other character selection -->
    <div class = "character-selection-div col-1">
        {% for charac in other_charact %}
            <a href="/personnages/{{charac.id}}">
                <img class="img-other-charac" src="{{ charac.character_class__logo_url }}" alt="">
            </a>
            <p class="other-charac-name">{{charac.name}}</p>
        {% endfor %}
        <form id="addCharacterForm" method="post">
            {% csrf_token %}
            <button type="submit" id="add-character-btn">
                <img class="add-perso" src="{% static 'logo/add.svg' %}" alt="Description de l'image SVG">
            </button>
        </form>
    </div>
    <!-- Main character info (Image and caracteristique) -->
    <div class="left col-3">
        <form id="deleteCharacterForm" method="post">
            <input class="d-none" name="character_id" value="{{character.id}}"/>
            {% csrf_token %}
            <button type="submit" class="btn-close" aria-label="Close"></button>
        </form>
        <img src="{{ character.character_class.logo_url }}">
        <h3 class="pseudo">{{ character.name|title }}</h3>
        <div class="info-item">
            <span class="label">Lvl :</span>
            <span class="value">{{ character.level }}</span>
        </div>
        <div class="info-item">
            <span class="label">Server :</span>
            <span class="value">{{ character.server.name|title  }}</span>
        </div>
        {% include 'character/caracteristique_tab.html' %}
    </div>

    <!-- Main charactere infomation + main character menu -->
    <div class="character-info col-8">

        <div class="personnage-menu">

            {% include 'character/pano.html' %}

        </div>
    </div>
</div>

