
<meta name="csrf-token" content="{{ csrf_token }}">
<div class="pano-div">
    <h4 class="title">Panoplie</h4>
        <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <button data-item-id="Chapeau" class="item-button"><img src="{{ main_character_set.stuff.chapeau.image_urls.icon }}" alt="collier_image"></button>
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 ">
                <button data-item-id="Amulette" class="item-button"><img src="{{ main_character_set.stuff.collier.image_urls.icon }}" alt="collier_image"></button>
            </div>
          </div>
        <div class="row justify-content-between">
            <div class="col-4">
                <button data-item-id="Anneau" class="item-button"><img src="{{ main_character_set.stuff.anneau_1.image_urls.icon }}" alt="collier_image"></button>
            </div>
            <div class="col-4">
                <button data-item-id="Anneau" class="item-button"><img src="{{ main_character_set.stuff.anneau_2.image_urls.icon }}" alt="collier_image"></button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <button data-item-id="Weapon" class="item-button"> <img src="{{ main_character_set.stuff.arme.image_urls.icon }}" alt="collier_image"></button>
            </div>
            <div class="col-4">
                <button data-item-id="Ceinture" class="item-button"><img src="{{ main_character_set.stuff.ceinture.image_urls.icon }}" alt="collier_image"></button>
            </div>
            <div class="col-4">
                <button data-item-id="Bouclier" class="item-button"><img src="{{ main_character_set.stuff.bouclier.image_urls.icon }}" alt="collier_image"></button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4">
                <button data-item-id="Bottes" class="item-button"><img src="{{ main_character_set.stuff.botte.image_urls.icon }}" alt="collier_image" data-bs-toggle="modal" data-bs-target="#itemsSelectionsModal"></button>
            </div>
          </div>
      </div>
      {% include '../modals/items_selection.html' %}
</div>
