{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="character-div row">

    <!-- Other character selection -->
    <div class = "character-selection-div col-1">
        {% for charac in other_charact %}
            <a href="/personnages/{{charac.id}}">
                <img class="img-other-charac" src="{{ charac.character_class__logo_url }}" alt="">
            </a>
            <p class="other-charac-name">{{charac.name}}</p>
        {% endfor %}
        <form id="addCharacterForm" method="post">
            {% csrf_token %}
            <button type="submit" id="add-character-btn">
                <img class="add-perso" src="{% static 'logo/add.svg' %}" alt="Description de l'image SVG">
            </button>
        </form>
    </div>

    <!-- Main character info (Image and caracteristique) -->
    <div class="left col-3">
        <form id="deleteCharacterForm" method="post">
            <input class="d-none" name="character_id" value="{{character.id}}"/>
            {% csrf_token %}
            <button type="submit" class="btn-close" aria-label="Close"></button>
        </form>
        <img src="{{ character.character_class.logo_url }}">
        <form id="characSetForm" method="post">
            {% csrf_token %}
            <h4 class="title">Caractéristiques</h4>
            <table class="table">
                <tbody>
                    {% for caracteristique, value in main_character_stuff.carac.items %}
                        <tr>
                            <td><img src="/static/image/logo_charac/{{caracteristique}}.png">{{caracteristique|title}}</td>
                            <td><input type="number" name="{{caracteristique}}" min="0" max="1000" value= "{{value}}"/></td>
                        </tr>
                    {%endfor%}
                </tbody>
                <input class="d-none" name="character_id" value="{{character.id}}"/>
            </table>
                <button type="submit" id="carac-save-btn" class="btn btn-primary mb-2">Modifier</button>
            </form>
    </div>

    <!-- Main charactere infomation + main character menu -->
    <div class="character-info col-8">
        <h1 class="pseudo">{{ character.name|title }}</h1>
        <div class="info-item">
            <span class="label">Lvl :</span>
            <span class="value">{{ character.level }}</span>
        </div>
        <div class="info-item">
            <span class="label">Server :</span>
            <span class="value">{{ character.server|title  }}</span>
        </div>

        <div class="personnage-menu">

            {% include 'menu/pano.html' %}

        </div>
    </div>
</div>



<script>
    // Attends que le document soit prêt
    $(document).ready(function() {
        // Écoute l'événement de soumission du formulaire
        $('#addCharacterForm').submit(function(e) {
            e.preventDefault(); // Empêche la soumission par défaut du formulaire
            
            // Récupère les données du formulaire
            var formData = $(this).serialize();
            
            // Envoie les données du formulaire au serveur
            $.ajax({
                type: 'POST',
                url: '/personnages/addCharacter',
                data: formData,
                success: function(response) {
                // Checks the response from the server
                if (response && response.id) {
                    // If the response contains the ID of the newly added character
                    console.log('Character added successfully with ID:', response.id);
                    // Redirect to the character's details page
                    window.location.href = '/personnages/' + response.id;
                } else {
                    // If the response does not contain the ID
                    console.log('Error: Character ID not found in the response');
                    // Display an error message or take any necessary action
                }
                // Affiche la réponse dans la console
                  console.log('Réponse du serveur:', response);
                },
                error: function(xhr, status, error) {
                    // Affiche l'erreur dans la console
                    console.error('Erreur de requête AJAX:', error);
                }
            });
        });
    });

    // Attends que le document soit prêt
    $(document).ready(function() {
        // Écoute l'événement de soumission du formulaire
        $('#characSetForm').submit(function(e) {
            e.preventDefault(); // Empêche la soumission par défaut du formulaire
            
            // Récupère les données du formulaire
            var formData = $(this).serialize();
            
            // Envoie les données du formulaire au serveur
            $.ajax({
                type: 'POST',
                url: '/personnages/updateCaracSet',
                data: formData,
                success: function(response) {
                // Vérifie le contenu de la réponse
                if (response['200'] === 'ok') {
                    // Si la réponse indique une connexion réussie
                    console.log('Connexion réussie!');
                    console.log(response)
                } else {
                    // Si la réponse indique une erreur de connexion
                    console.log('Erreur de connexion:', response['401']);
                    $('#passwordError').show();
                    // Affiche un message d'erreur ou effectue toute autre action nécessaire
                }
                  // Affiche la réponse dans la console
                  console.log('Réponse du serveur:', response);
                },
                error: function(xhr, status, error) {
                    // Affiche l'erreur dans la console
                    console.error('Erreur de requête AJAX:', error);
                }
            });
        });
    });

    // Attends que le document soit prêt
    $(document).ready(function() {
        // Écoute l'événement de soumission du formulaire
        $('#deleteCharacterForm').submit(function(e) {
            e.preventDefault(); // Empêche la soumission par défaut du formulaire
            
            // Récupère les données du formulaire
            var formData = $(this).serialize();
            
            // Envoie les données du formulaire au serveur
            $.ajax({
                type: 'POST',
                url: '/personnages/deleteCharacter',
                data: formData,
                success: function(response, status, xhr) {
                // Vérifie le contenu de la réponse
                if (xhr.status === 200) {
                    // Si la réponse indique une connexion réussie
                    console.log('Connexion réussie!');
                    console.log(response)
                    window.location.href = '/personnages';              
                } else {
                    // Si la réponse indique une erreur de connexion
                    console.log('Erreur de connexion:', response['401']);
                    $('#passwordError').show();
                    // Affiche un message d'erreur ou effectue toute autre action nécessaire
                }
                    // Affiche la réponse dans la console
                    console.log('Réponse du serveur:', response);
                },
                error: function(xhr, status, error) {
                    // Affiche l'erreur dans la console
                    console.error('Erreur de requête AJAX:', error);
                }
            });
        });
    });
  </script>
{% endblock %}