{% extends 'base.html' %}

{% block content %}



<div class="character-div row">
    <div class = "character-selection-div col-1">
        {% for charac in other_charact %}
            <a href="/personnages/{{charac.id}}">
                <img class="img-other-charac" src="{{ charac.character_class__logo_url }}" alt="">
            </a>
            <p class="other-charac-name">{{charac.name}}</p>
        {% endfor%}
    </div>
    <div class="left col-3">
        <img src="{{ character.character_class.logo_url }}">
    </div>
    <div class="character-info col-8">
        <h1 class="pseudo">{{ character.name|title }}</h1>
        <div class="info-item">
            <span class="label">Lvl :</span>
            <span class="value">{{ character.level }}</span>
        </div>
        <div class="info-item">
            <span class="label">Server :</span>
            <span class="value">{{ character.server|title  }}</span>
        </div>

        <div class="personnage-menu">

            {% include 'menu/charac.html' %}

        </div>
    </div>
</div>




{% endblock %}