
<!-- Modal -->
<div class="modal fade" id="itemsSelectionsModal" tabindex="-1" aria-labelledby="itemsSelectionsModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          {% include '../items/all_items.html' %}
        </div>
      </div>
    </div>
  </div>