

<div class="col-8 pano-div">
    <h4 class="title">Panoplie</h4>

    <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <button> chapeau</button>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 ">
                <button> colier</button>
            </div>
          </div>
        <div class="row justify-content-between">
            <div class="col-4">
                <button>Anneau 1</button>
            </div>
            <div class="col-4">
                <button>Anneau 2</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <button>Bouclier</button>
            </div>
            <div class="col-4">
                <button>Ceinture</button>
            </div>
            <div class="col-4">
                <button>Arme</button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4">
                <button>Bottes</button>
            </div>
          </div>
      </div>

</div>
