.charactere-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #9AC8EB; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur de la souris */
    transition: background-color 0.3s ease; /* Transition en douceur */
    

}

.charactere-btn:hover {
    background-color: #063266; /* Couleur de fond au survol */
  }