.charactere-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: $db-color; /* Couleur de fond */
    color: $lb-color; /* Couleur du texte */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur de la souris */
    @include box_shadow;
    transition: box-shadow 0.5s, background-color 0.3s ease, color 0.3s ease;

}

.charactere-btn:hover {
    color: $db-color; /* Couleur de fond au survol */
    background-color : $lb-color;
    @include big_box_shadow;
  }