{% extends 'base.html' %}

{% block content %}
{{ tab_var }}


<h1 class="title"> Liste des {{ item_type }}</h1>

<table class="table  table-dark table-striped"> 

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">type</th>
            <th scope="col">level</th>
        </tr>
    </thead>
    {% for item in items %}
    <tbody>
        <tr>
          <th scope="row"><img src="{{item.image_urls.icon}}"></th>
          <td><a href="{{item_type}}/{{ item.ankama_id }}">{{ item.name }}</a></td>
          <td>{{ item.type.name }}</td>
          <td>Lvl: {{ item.level }}</td>
        </tr>
    </tbody>
    {% endfor %}

</table>
{{ tab_var }}


<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{{ query_params }}">Previous</a></li>

      {% if tab_var.page_number != 1%}
          <li class="page-item"><a class="page-link" href="{{ query_params }}">{{ tab_var.page_number  }}</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="{{ query_params }}">{{ tab_var.page_number }}</a></li>
      <li class="page-item"><a class="page-link" href="{{ query_params }}">{{ tab_var.page_number }}</a></li>
      {% if tab_var.page_number == 1%}
          <li class="page-item"><a class="page-link" href="{{ query_params }}">{{ tab_var.page_number }}</a></li>
      {% endif %}

      <li class="page-item"><a class="page-link" href="{{ query_params }}">Next</a></li>
    </ul>
</nav>

</div>

{% endblock %}