<!DOCTYPE html>
<html lang="fr">
<head>

    {% include 'import.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dofus Trade</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class= "app_div">
        {% if app == 'items' %}
            {% if display_style == 'all_items' %}
                {% include 'items/all_items.html' %}
            {% elif display_style == 'solo_item' %}
                {% include 'items/solo_item.html' %}
            {% endif %}
        {% elif app == 'character'%}
            {% include 'character/character_index.html' %}
        {% else %}
            {% include 'index.html' %}
        {% endif %}
    </div>

  {% if user.is_authenticated %}
    <button class="charactere-btn" data-bs-toggle="modal" data-bs-target="#charactereModal">
        Personnages
    </button>
  {% endif %}

  {% include 'modals/login.html' %}
  {% include 'modals/personnage.html' %}


<script>
  
</script>

</body>
</html>


