<!DOCTYPE html>
<html lang="fr">
<head>

    {% include 'import.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dofus Trade</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class= "app_div">
        {% block content %}

        {% endblock %}
    </div>

  {% if user.is_authenticated %}
    <button class="charactere-btn" data-bs-toggle="modal" data-bs-target="#charactereModal">
        Personnages
    </button>
  {% endif %}

  {% include 'modals/login.html' %}
  {% include 'modals/personnage.html' %}


<script>
  // Attends que le document soit prêt
  $(document).ready(function() {
      // Écoute l'événement de soumission du formulaire
      $('#loginForm').submit(function(e) {
          e.preventDefault(); // Empêche la soumission par défaut du formulaire
          
          // Récupère les données du formulaire
          var formData = $(this).serialize();
          
          // Envoie les données du formulaire au serveur
          $.ajax({
              type: 'POST',
              url: '/log/login',
              data: formData,
              success: function(response) {
              // Vérifie le contenu de la réponse
              if (response['200'] === 'ok') {
                  // Si la réponse indique une connexion réussie
                  console.log('Connexion réussie!');
                  window.location.href = '/';              
              } else {
                  // Si la réponse indique une erreur de connexion
                  console.log('Erreur de connexion:', response['401']);
                  $('#passwordError').show();
                  // Affiche un message d'erreur ou effectue toute autre action nécessaire
              }
                // Affiche la réponse dans la console
                console.log('Réponse du serveur:', response);
              },
              error: function(xhr, status, error) {
                  // Affiche l'erreur dans la console
                  console.error('Erreur de requête AJAX:', error);
              }
          });
      });
  });
</script>

</body>
</html>


