{% load static %}

<div class="navbar-background {% if navbar == 'expend' %}expend{%endif%}">
</div>

<div class="div-nav-bar {% if navbar == 'expend' %}expend{%endif%} container-fluid">
  <nav class="navbar navbar-expand-lg with-background sticky-top" >
   <div class="container-fluid">
    <!-- Home button-->
    <a class="navbar-brand home_link" href="/"><img class="logo" src="{% static 'logo/logo.png' %}"></a>
    <!-- NavBar items-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left Elements -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Items dropdown-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Items</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'resources'%}">Resources</a></li>
            <li><a class="dropdown-item" href="{% url 'equipments'%}">Equipments</a></li>
            <li><a class="dropdown-item" href="{% url 'cosmetics'%}">Cosmetics</a></li>
            <li><a class="dropdown-item" href="{% url 'consumables'%}">Consumables</a></li>
          </ul>
        </li>
        <!-- Panoplie link-->
        <li >
          <a class="nav-link" href="#">Panoplie</a>
        </li>
        <!-- Monture link-->
        <li>
          <a class="nav-link" href="#">Monture</a>
        </li>
        <!-- Almanax link-->
        <li>
          <a class="nav-link" href="#">Almanax</a>
        </li>
      </ul>
      <!-- Right Elements -->
      <ul class="navbar-nav mb-lg-0">
        <div class="navbar-collapse">
        {% if not user.is_authenticated %}
        <!-- Connection Button trigger modal -->
        <li class="log-in-item nav-link">
          <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
            <img name="connection_link" class="connection_link" src="{% static 'logo/profile.svg' %}" alt="Description de l'image SVG">
          </a>
        </li>
        {% elif user.is_authenticated %}
        <!-- Disonnection Button -->
          <li class="nav-item nav-link">
            <a href="{% url 'logout' %}" >
              <img name="connection_link" class="connection_link" src="{% static 'logo/logout.svg' %}" alt="Description de l'image SVG">
            </a>
          </li>
        {% endif %}
      </div>
      </ul>
      </div>
    </div>
  </nav>
      {% if navbar == 'expend' %}
      <h1 class="title-navbar-expand"> Dofus Graal</h1>

      <div class="search_div">

        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Looking for something ?</label>
            <input type="navbar-search" class="form-control" id="exampleInputEmail1" placeholder="Search for anything (Item, Pano, Almanax ...) ">
          </div>
        </form>
      </div>

    {% endif%}
</div>
