<h1 class="title"> Liste des {{ item_type }}</h1>
{{ tab_var }}

<div class="row justify-content-start">
    <!-- Tableau items-->
    <div class="table_div col-8">
        <table class="table  table-dark table-striped"> 
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">type</th>
                    <th scope="col">level</th>
                </tr>
            </thead>
            {% for item in items %}
            <tbody>
                <tr>
                  <th scope="row"><img src="{{item.image_urls.icon}}"></th>
                  <td><a href="{{item_type}}/{{ item.ankama_id }}">{{ item.name }}</a></td>
                  <td>{{ item.ankama_id }}{{ item.type }}</td>
                  <td>Lvl: {{ item.level }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="navigation">
            <ul class="pagination justify-content-center">
              {% if tab_var.page_number != 1%}
              <li class="page-item"><a class="page-link" 
                href="?page_number={{ tab_var.page_number|add:-1 }}&page_size={{ tab_var.page_size }}&lvl_min={{ tab_var.lvl_min }}&lvl_max={{ tab_var.lvl_max }}">
                Previous</a></li>
              <li class="page-item"><a class="page-link" 
                href="?page_number={{ tab_var.page_number|add:-1 }}&page_size={{ tab_var.page_size }}&lvl_min={{ tab_var.lvl_min }}&lvl_max={{ tab_var.lvl_max }}">
                {{ tab_var.page_number|add:-1 }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" 
                    href="?page_number={{ tab_var.page_number }}&page_size={{ tab_var.page_size }}&lvl_min={{ tab_var.lvl_min }}&lvl_max={{ tab_var.lvl_max }}">
                    Previous</a></li>
              {% endif %}
              <li class="page-item"><a class="page-link" 
                href="?page_number={{ tab_var.page_number }}&page_size={{ tab_var.page_size }}&lvl_min={{ tab_var.lvl_min }}&lvl_max={{ tab_var.lvl_max }}">
                {{ tab_var.page_number }}</a></li>
              <li class="page-item"><a class="page-link" 
                href="?page_number={{ tab_var.page_number|add:1 }}&page_size={{ tab_var.page_size }}&lvl_min={{ tab_var.lvl_min }}&lvl_max={{ tab_var.lvl_max }}">
                {{ tab_var.page_number|add:1}}</a></li>
              <li class="page-item"><a class="page-link" 
                href="?page_number={{ tab_var.page_number|add:1 }}&page_size={{ tab_var.page_size }}&lvl_min={{ tab_var.lvl_min }}&lvl_max={{ tab_var.lvl_max }}">
                Next</a></li>
            </ul>
          </div>

    </div>

      <!-- Formulaire filtre tableau -->
    <div class="form_div col-4">
        <form class="filter_form" action="" method="get">
            
            <h3>Items filter</h3>
            <label for="page_size">Taille de page:</label>
            <input type="number" id="page_size" name="page_size" value="{{tab_var.page_size}}" min="1"><br>
        
            <label for="lvl_min">Niveau minimum:</label>
            <input type="number" id="lvl_min" name="lvl_min" value="1" min="1"><br>
        
            <label for="lvl_max">Niveau maximum:</label>
            <input type="number" id="lvl_max" name="lvl_max" value="200" min="1"><br>
        
            <button type="submit">Appliquer les filtres</button>
        </form>
    </div>
</div>
