<div class="container mt-5">
    <div class="card">

        <div class="card-header">
            <img src="{{ item.image_urls.hq}}" alt="{{ item.name }} logo">
            <h5 class="card-title">{{ item.name }}</h5>
        </div>
        <div class="card-body">
            <img src="{{ image_urls.icon }}" alt="{{ name }}" class="img-fluid mb-3">
            <p class="card-text">Description: {{ item.description }}</p>
            <p class="card-text">Type: {{ item.type.name }}</p>
            <p class="card-text">Level: {{ item.level }}</p>
            <p class="card-text">Pods: {{ item.pods }}</p>
            <p class="card-text">Effects:</p>
            <ul class="list-group">
                {% for effect in item.effects %}
                    <li class="list-group-item">{{ effect.formatted }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
