.character-info .label {
    font-style: bold;
}

.character-info .pseudo{
    margin-bottom: 0.5em;
}

.character-info .label{
    font-weight: bold;
}

.character-info .value{
    font-size: 24px;
}

.personnage-menu{
    margin-top: 2em;
}


.caracteristiques-div img {
    margin-right: 0.5em;
}

.pano-div button {
    display: block;
    margin: auto;
    margin-bottom: 2em;
}