@charset "UTF-8";
.character-info .label {
  font-style: bold; }

.character-info .pseudo {
  margin-bottom: 0.5em; }

.character-info .label {
  font-weight: bold; }

.character-info .value {
  font-size: 24px; }

.personnage-menu {
  margin-top: 2em; }

.caracteristiques-div img {
  margin-right: 0.5em; }

.pano-div button {
  display: block;
  margin: auto;
  margin-bottom: 2em;
  width: 80px;
  height: 80px; }

.character-selection-div .img-other-charac {
  height: 80px; }

.character-selection-div .add-perso {
  height: 80px;
  color: green; }

.character-selection-div .other-charac-name {
  text-align: center; }

.caracteristiques-div button {
  display: block;
  margin: auto; }

.charactere-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #F7F6CF;
  /* Couleur de fond */
  color: #063266;
  /* Couleur du texte */
  padding: 10px 20px;
  /* Espacement à l'intérieur du bouton */
  border: none;
  /* Pas de bordure */
  border-radius: 5px;
  /* Coins arrondis */
  font-size: 16px;
  /* Taille de la police */
  cursor: pointer;
  /* Curseur de la souris */
  box-shadow: 0px 0px 0.5em black, 1px 0px #9AC8EB, 0px 1px #9AC8EB, -1px 0px #9AC8EB, 0px -1px #9AC8EB;
  transition: box-shadow 0.5s, background-color 0.3s ease, color 0.3s ease; }

.charactere-btn:hover {
  color: #063266;
  /* Couleur de fond au survol */
  background-color: #9AC8EB;
  box-shadow: 0px 0px 1em black, 1px 0px #9AC8EB, 0px 1px #9AC8EB, -1px 0px #9AC8EB, 0px -1px #9AC8EB; }

.navbar-background {
  background-image: url("../../image/dofus-background.jpeg");
  background-size: cover;
  position: absolute;
  height: 160px;
  width: 100%;
  z-index: -1;
  box-shadow: 0 0 2px black; }

.div-nav-bar {
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
  z-index: 10; }

.navbar {
  padding: 0% 5%;
  min-height: 10em;
  background: linear-gradient(to bottom, black, transparent); }

.navbar .container-fluid {
  width: 1200px; }

.navbar li {
  margin: 0% 4%; }

.navbar .logo {
  width: 140px;
  height: 140px; }

.nav-link {
  font-size: 24px;
  color: #F7F6CF;
  text-shadow: 2px 2px 5px black; }

.connection_link {
  filter: drop-shadow(2px 2px 5px black); }

.nav-link:hover {
  color: #9AC8EB; }

.title-navbar-expand {
  display: block;
  width: 75%;
  text-shadow: 0 0 4px #063266, 0 0 4px #063266, 0 0 4px #063266, 0 0 4px #063266; }

.expend {
  height: 600px;
  margin-bottom: 200px; }

.div-nav-bar h1 {
  margin-top: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 128px;
  color: #F7F6CF;
  font-family: "Jacques Francois Shadow", serif;
  margin-bottom: 100px; }

.search_div {
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 150px;
  background-color: #9fc7d6;
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0px 1px 20px black, 1px 0px #9AC8EB, 0px 1px #9AC8EB, -1px 0px #9AC8EB, 0px -1px #9AC8EB;
  transition: all 0.5s; }

.search_div div {
  width: 80%;
  margin: auto;
  padding: 1em;
  text-align: center; }

.search_div label {
  position: absolute;
  top: 5px;
  width: 400px;
  font-size: 32px;
  color: #063266;
  transform: translate(-50%, 0%);
  left: 50%;
  text-align: center;
  transition: all 0.3s; }

.search_div input {
  margin-top: 40px; }

.form-control[type="navbar-search"] {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 45px;
  transition: background 0.7s; }
  .form-control[type="navbar-search"]:focus {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.6); }

#charactereModal tr img {
  width: 75px; }

#charactereModal td {
  vertical-align: middle; }

#charactereModal #title {
  font-family: "Jacques Francois Shadow", serif; }

body {
  background-color: #f0d4b9;
  font-family: Helvetica, Arial, sans-serif; }

.app_div {
  width: 1100px;
  margin: auto;
  padding: 1em;
  background-color: white;
  border-radius: 30px;
  padding-bottom: 250px; }

.app_div .title {
  text-align: center;
  padding: 1em; }

.form {
  width: 80%;
  text-align: center; }

.logo_login {
  height: 100px;
  width: 100px;
  margin: 0 1em; }

.filter_form {
  margin: auto;
  padding: 3em 0;
  border-radius: 30px;
  text-align: center;
  color: white; }

.filter_form label, button {
  margin-top: 1em; }

.filter_form .navigation {
  text-align: center; }

.form_div {
  background-color: #b87333;
  border-radius: 30px;
  height: fit-content; }

/*# sourceMappingURL=mystyle.css.map */